<style>
  body {
    background: #000;
    color: #c4c4c4;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-butt-p {
  }
  .btnlogin {
    border: 0;
    border-radius: 4px;
    padding: 16px;

    background: #00ff90;
    color: #000;
  }
  .btnlogin:hover {
    cursor: pointer;
    opacity: 80%;
  }
</style>

<div class="container">
  <form action="{% url 'account_login' %}" method="post" class="form-butt-p">
    {% csrf_token %}
    <button type="submit" class="btnlogin">Fazer Login</button>
  </form>
</div>
